{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">

  <head>
	<meta charset="utf-8">
	<title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>
	<meta name="description" value="Система Обліку Студентів Навчального Закладу">	
    
    <!-- Include Styles -->

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
   <link rel="stylesheet" type="text/css" href="{{ PORTAL_URL }}{% static "css/main.css" %}">
   <link rel="stylesheet" type="text/css" href="{{ PORTAL_URL }}{% static "css/st_form.css" %}">

   {% block extra_css %}{% endblock extra_css %}


  </head>

  <body>
  	
  	<!-- Start Container -->
  	<div class="container">
  		
  		<!-- Start Header -->
  		<div class="row" id="header">
  			
  			<!-- Logo -->
  			<div class="col-xs-8">
  			  <h1>Сервіс Обліку Студентів</h1>	
  			</div>

  			<!-- Groups Selectors -->
  			<div class="col-xs-4" id="group-selector">
  			  <strong>Група:</strong>
  			  <select>
  			  	<option value=''''>Усі Студенти</option>
  			  	<option value=''''>МмМ - 21, Кобрик Андрій (№2123)</option>
  			  	<option value=''''>МмМ - 22, Спілберг Міла (№2221)</option>
  			  	<option value=''''>МмМ - 23, Шварц Арнольд (№221)</option>
  			  </select>
  			  
  			</div>
  		</div>
  		<!-- End Header -->

  		<!-- Start Subheader -->
  		<div class="row" id="sub-header">
  			<div class="col-xs-12">
          <ul class="nav nav-tabs" role="tablist">
         {% url "home" as home_url %}
          <li role="presentation" {% if request.path == home_url %}class="active"{% endif %}><a href="{{ home_url }}">Студенти</a></li>
         {% url "journal" as journal_url %}
          <li role="presentation" {% if journal_url in request.path %}class="active"{% endif %}><a href={{ journal_url }}>Відвідування</a></li>
          {% url "groups" as groups_url %}
          <li role="presentation" {% if groups_url in request.path %}class="active"{% endif %}><a href="{{ groups_url }}">Групи</a></li>
          {% url "exams" as exams_url %}
          <li role="presentation" {% if exams_url in request.path %}class="active"{% endif %}><a href="{{ exams_url }}">Іспити</a></li>
          {% url "ratings" as ratings_url %}
          <li role="presentation" {% if ratings_url in request.path %}class="active"{% endif %}><a href="{{ ratings_url }}">Оцінки</a></li>
          {% url 'contact_admin' as contact_admin_url %}
          <li role="presentation" {% if contact_admin_url in request.path %}class="active"{% endif %}><a href="{{ contact_admin_url }}">Контакт</a></li>
             </ul>
  			</div>
  		</div> 
  	    <!-- End SubHeader -->

  	    <!-- Start Main Page Content --> 

  	    <!-- Status Message -->
  	    <div class="row" id="content-columns">
         <div class="col-xs-12" id="content-column">

         {% block status_message %}
         {% if request.GET.status_message %}
  	    <div class="alert alert-warning" role="alert">{{ request.GET.status_message }}</div>
        {% endif %}
        {% endblock %}
	     <!-- Logo-->
  	     
  	      <h2>{% block title %}{% endblock title %}</h2>
        
          {% block content %}{% endblock content %}
  	     
  	      </div>
  	    

  	    </div>
  	    <!-- End Main Page Content -->


  	    <!-- Start Footer -->
  	    <div class="row" id="footer">
  	      <div class="col-xs-12">
  	       &copy; 2017 Сервіс Обліку Студентів
  	      </div>
  	    </div>
  	    <!-- End Footer -->

  	    </div>
  	    <!-- End Container -->




  
	<!-- Javascripts Inclusion -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
       function loadDoc() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
              document.getElementById("demo").innerHTML = xhttp.responseText;
    }
  };
      xhttp.open("GET", "ratings/next_page", true);
      xhttp.send();
}
</script>
  {% block extra_js %}{% endblock extra_js %}
</body>
  </body>

</html>
