{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Add the Exam" %}{% endblock meta_title %}
{% block title %}{% trans "Add the Exam" %}{% endblock title %}


{% block status_message %}
  {% if errors %}
  <div class="alert alert-warning" role="alert">
    {% trans "Please, correct following mistakes" %}
  </div>
  {% endif %}
{% endblock status_message %}
	

  {% block content %}
		<div class="container" id="main">
		<form  action="{% url "exams_add" %}" method="post" 
    enctype="multipart/form-data" class="form-horizontal" id="niz">
    {% csrf_token %}
  <div class="form-group {% if errors.subject %}has-error{% endif %}">
    <label for="subject" class="col-sm-2 control-label">{% trans "Subject" %}*</label>
    <div class="col-sm-4">
      <input type="text" value="{{ request.POST.subject }}" class="form-control" name="subject" id="subject" placeholder="{% trans "Subject" %}">
      <span class="help-block">{{ errors.subject }}</span>
    </div>
  </div>

  <div class="form-group {% if errors.date_time %}has-error{% endif %}">
    <label for="date_time" class="col-sm-2 control-label">{% trans "Date, time" %}*</label>
    <div class="col-sm-4">
      <input type="text" value="{{ request.POST.date_time }}" class="form-control" name="date_time" id="date_time" placeholder="yyyy-mm-dd hh-mm-ss" >
      <span class="help-block">{{ errors.date_time }}</span>
    </div>
  </div>
<div class="form-group {% if errors.teacher %}has-error{% endif %}">
    <label for="teacher" class="col-sm-2 control-label">{% trans "Teacher" %}*</label>
    <div class="col-sm-4">
      <input type="text" value="{{ request.POST.teacher}}" name="teacher" id="teacher" value="" class="form-control" 
      placeholder="{% trans "Teacher" %}">
      <span class="help-block">{{ errors.teacher }}</span>
    </div>
  </div>

<div class="form-group {% if errors.group %}has-error{% endif %}">
    <label for="group" class="col-sm-2 control-label">{% trans "Group" %}*</label>
    <div class="col-sm-4">
      <select class="form-control" value=value="''" name="group" id="st_group" >
        <option value="">{% trans "Choose the group" %}</option>
        {% for group in groups %}
        <option value="{{ group.id }}" {% if group.id == request.POST.group|add:0 %}selected="1"{% endif %}>{{ group.title }}</option>
        {% endfor %}
        <span class="help-block">{{ errors.group }}</span>
      </select>
    </div>
  </div>
  <div class="form-group {% if errors.notes %}has-error{% endif %}">
  <label for="notes" class="col-sm-2 control-label">{% trans "Notes" %}</label>
  <div class="col-sm-4">
   <textarea name="notes" id="notes" class="form-control">{{ request.POST.notes }}</textarea>
   <span class="help-block">{{ errors.notes }}</span>
  	</div>
  </div>
 
  <div class="col-xs-12" id="buttons">
  <button type="submit" class="btn btn-primary" 
  name="add_button">{% trans "Save" %}</button>
  <button type="submit" class="btn btn-default" id="whiteBtn" name="cancel_button">{% trans "Cancel" %}</button>
  </div>
  </form>
 </div>
{% endblock content %}