{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Add the Group" %}{% endblock meta_title %}
{% block title %}{% trans "Add the Group" %}{% endblock title %}


{% block status_message %}
  {% if errors %}
  <div class="alert alert-warning" role="alert">
   {% trans "Please, correct following mistakes" %}
  </div>
  {% endif %}
{% endblock status_message %}
	

  {% block content %}
		<div class="container" id="main">
		<form  action="{% url "groups_add" %}" method="post" 
    enctype="multipart/form-data" class="form-horizontal" id="niz">
    {% csrf_token %}
  <div class="form-group {% if errors.title %}has-error{% endif %}">
    <label for="title" class="col-sm-2 control-label">{% trans "Title*" %}</label>
    <div class="col-sm-4">
      <input type="text" value="{{ request.POST.title }}" class="form-control" name="title" id="title" placeholder="{% trans "Title" %}">
      <span class="help-block">{{ errors.title }}</span>
    </div>
  </div>
 
<div class="form-group {% if errors.leader %}has-error{% endif %}">
    <label for="leader" class="col-sm-2 control-label">{% trans "Leader*" %}</label>
    <div class="col-sm-4">
      <select class="form-control" value=value="''" name="leader" id="leader" >
        <option value="">{% trans "Choose the leader" %}</option>
        {% for leader in leaders %}
        <option value="{{ leader.id }}" {% if leader.id == request.POST.leader|add:0 %}selected="1"{% endif %}">{{ leader }}</option>
        {% endfor %}
        <span class="help-block">{{ errors.leader }}</span>
      </select>
    </div>
  </div>
  <div class="form-group {% if errors.notes %}has-error{% endif %}">
  <label for="notes" class="col-sm-2 control-label">{% trans "Notes" %}</label>
  <div class="col-sm-4">
   <textarea name="notes" id="notes" class="form-control">{{ request.POST.notes }}</textarea>
   <span class="help-block">{{ errors.notes }}</span>
  	</div>
  </div>
 
  <div class="col-xs-12" id="buttons">
  <button type="submit" class="btn btn-primary" name="add_button">{% trans "Save" %}</button>
  <button type="submit" class="btn btn-default" id="whiteBtn" name="cancel_button" >{% trans "Cancel" %}</button>
  </div>
  </form>
 </div>
{% endblock content %}