{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load str2int %}

{% block meta_title %}{% trans "Add the Student" %}{% endblock meta_title %}
{% block title %}{% trans "Add the student" %}{% endblock title %}


{% block status_message %}
  {% if errors %}
  <div class="alert alert-warning" role="alert">
    {% trans "Please, correct following mistakes" %}
  </div>
  {% endif %}
{% endblock status_message %}
	

  {% block content %}
		<div class="container" id="main">
		<form  action="{% url "students_add" %}" method="post" 
    enctype="multipart/form-data" class="form-horizontal" id="niz">
    {% csrf_token %}
  <div class="form-group {% if errors.first_name %}has-error{% endif %}">
    <label for="first_name" class="col-sm-2 control-label">{% trans "First Name" %}*</label>
    <div class="col-sm-4">
      <input type="text" value="{{ request.POST.first_name }}" class="form-control" name="first_name" id="first_name" placeholder="{% trans "First Name" %}">
      <span class="help-block">{{ errors.first_name }}</span>
    </div>
  </div>
  
  <div class="form-group {% if errors.last_name %}has-error{% endif %}">
    <label for="last_name" class="col-sm-2 control-label">{% trans "Second Name" %}*</label>
    <div class="col-sm-4">
      <input type="text" value="{{ request.POST.last_name }}" class="form-control" name="last_name" id="last_name" placeholder="{% trans "Second Name" %}">
      <span class="help-block">{{ errors.last_name }}</span>
    </div>
  </div>
  <div class="form-group {% if errors.middle_name %}has-error{% endif %}">
    <label for="middle_name" class="col-sm-2 control-label">{% trans "Middle Name" %}</label>
    <div class="col-sm-4">
      <input type="text" value="{{ request.POST.middle_name }}" class="form-control" name="middle_name" id="middle_name" placeholder="{% trans "Middle Name" %}">
      <span class="help-block">{{ errors.middle_name }}</span>
    </div>
  </div>
  <div class="form-group {% if errors.birthday %}has-error{% endif %}">
    <label for="birthday" class="col-sm-2 control-label">{% trans "Date of birthday" %}*</label>
    <div class="col-sm-4">
      <input type="text" value="{{ request.POST.birthday }}" class="form-control" name="birthday" id="birthday" placeholder="{% trans "yyyy-mm-dd" %}" >
      <span class="help-block">{{ errors.birthday }}</span>
    </div>
  </div>
<div class="form-group {% if errors.photo %}has-error{% endif %}">
    <label for="photo" class="col-sm-2 control-label">{% trans "Photo" %}</label>
   <div class="col-sm-offset-2 col-sm-10">
  	 <input type="file" value=value="" name="photo" id="photo" >
     <span class="help-block">{{ errors.photo }}</span>
  	 <button type="reset" class="btn btn-default" name="photo" id="photo">{% trans "Clear" %}</button>
</div>
</div>
<div class="form-group {% if errors.ticket %}has-error{% endif %}">
    <label for="ticket" class="col-sm-2 control-label">{% trans "Ticket" %}*</label>
    <div class="col-sm-4">
      <input type="text" value="{{ request.POST.ticket }}" name="ticket" id="ticket" value="""" class="form-control" placeholder="{% trans "Ticket #" %}" >
      <span class="help-block">{{ errors.ticket }}</span>
    </div>
  </div>

<div class="form-group {% if errors.students_group %}has-error{% endif %}">
    <label for="students_group" class="col-sm-2 control-label">{% trans "Group" %}*</label>
    <div class="col-sm-4">
      <select class="form-control" value=value="''" name="students_group" id="students_group" >
        <option value="">{% trans "Choose the group" %}</option>
        {% for group in groups %}
        <option value="{{ group.id }}" {% if group.id == request.POST.students_group|str2int %}selected="1"{% endif %}>{{ group.title }}</option>
        {% endfor %}
        <span class="help-block">{{ errors.students_group }}</span>
      </select>
    </div>
  </div>
  <div class="form-group {% if errors.notes %}has-error{% endif %}">
  <label for="notes" class="col-sm-2 control-label">{% trans "Notes" %}</label>
  <div class="col-sm-4">
   <textarea name="notes" id="notes" class="form-control">{{ request.POST.notes }}</textarea>
   <span class="help-block">{{ errors.notes }}</span>
  	</div>
  </div>
 
  <div class="col-xs-12" id="buttons">
  <button type="submit" class="btn btn-primary" name="add_button">{% trans "Save" %}</button>
  <button type="submit" class="btn btn-default" id="whiteBtn" name="cancel_button">{% trans "Cancel" %}</button>
  </div>
  </form>
 </div>
{% endblock content %}