
#main {
	align-self: center;
}

#niz {
	padding-top: 20px;
}

#buttons {
	align-self: center;
	padding-left: 220px;
	padding-top: 20px;
	margin-bottom: 30px;
}

#whiteBtn {
	margin-left: 20px;
	font-weight: bold;
	color: #419af4;
}

