{% extends "students/base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Login Form "%}{% endblock meta_title %}
{% block title %}{% trans "Login Form" %}{% endblock title %}

{% block content %}
<div class="container" id="main">
<form action="{% url "users:auth_login" %}" method="post" class="form-horizontal" id="niz">

{% csrf_token %}
  <input type="hidden" name="next" value="{% url "home" %}">

  <div class="form-group">
    <label for="login" class="col-sm-2 control-label">{% trans "Your Username" %}</label>
    <div class="col-sm-3">
    <input type="text" name="username" class="form-control" id="login" value="">
    </div>	
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">{% trans "Your Password" %}</label>
    <div class="col-sm-3">
    <input type="password" name="password" class="form-control" id="password" value="">	
    </div>
  </div>
<div class="col-xs-12" id="buttons">
<button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
	</div>
</form>
</div>
{% endblock content %}